/* ----------------------------------------------------------------------------------------------------------

    Output device: screen, projection

    Author:     4sizn (4sizn@naver.com)
    Update:     2018-01-21, 12:17 GMT+10
    Version:    0.0.1 (2008-07-13, 14:28 GMT+1)

    Structure:
        display; position; z-index; float; clear; width; height; overflow; margin; padding; border; background; align; font;

    Content:
        1) HTML tags
        2) HTML styles
        3) Layout
        4-1) Page: Homepage
        5) Others

---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body{
    width: 100%;
    height: 100%;
}

.left{
    width: 17px;
    height: 17px;
}

a{
    text-decoration-line: none;
    text-decoration: none;
    color:inherit;
}

h1{
    margin: 20px 0;
    margin-left: -10px;
}

strong{
    font-weight: bold;
    color: black;
}

.notice h3{
    padding: 5px 0;
}


#section01 img{
    float: left;
}

button{
    background-color: #eee;
    border: 0;
}

header{
    width: 900px;
    margin: 0 auto;
}

header #logo{
    float: left;
}

header .familySite{
    float: right;
    margin-top: 15px;
}

#mainContent{
    margin-top: -40px;
    background-image: linear-gradient(#CAD1D4, white 20%); 
}

section h2{
    border-bottom: 1px dotted #999;
}
aside{
    color: #B5B5B5;
    border: 5px solid #B5B5B5;
    border-radius: 15px;
    font-size: 0.9em;
    line-height: 20px;
    text-align: center;
    width: 320px;
    float: right;
    margin-top: 60px;
    margin-bottom: 80px;
}

aside p{
    margin: 0 15px;
}

aside .qr_lst{
    margin-top: 20px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
}

aside h2{
    padding-top : 10px;
}
aside .detail{
    text-align: left;
    padding-bottom: 20px;
}
aside p:last-child{
    padding-top: 10px;
    padding-bottom: 10px;
}

.qr_lst li{
    display: inline-block;
    padding: 0 15px;
}

.mvclip{
    padding: 10px;
    background-image: linear-gradient(white, grey 50%);
}

.mv_caption{
    position: absolute;
    right: 0;
    bottom: 0;
}

section p{
    font-size: 0.9em;
    line-height: 18px;
}

#section01 .slider{
text-align: right;
}

#section01 h2, #section02 h2{
    font-size: 1.2em;
    padding-bottom: 5px;
}

#section01 img{
    float: left;
}

.section_wrap{
    margin-bottom: 40px;
}

#section01 .notice{
    float: left;
    width: 150px;
    padding-left: 10px;
}

section ul{
    padding-bottom: 35px;
}

#section01 ul{
    height: 100px;
    overflow: hidden;
}

#section01 li{
    float: left;
    width: 250px;
    height: 140px;
}

#section02 li{
    float: left;
    width: 140px;
    height: 120px;
    padding: 15px 15px 0 15px;
    text-align: center;
}

#section02 figure{
    padding-bottom: 10px;
}

/* ----------------------------------------------------------------------------------------------------------
2) HTML styles
---------------------------------------------------------------------------------------------------------- */

body{
    background: url(../images/bg_title1.png);
    background-repeat: repeat-x;
    display: inline-block;
}

footer{
    margin: 0 auto;
    font-size: 0.9em;
    line-height: 20px;
    background-color: rgb(153, 153, 153);
    color: white;
    padding-bottom: 200px;
}

#mainTitle h2{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip:text;
    -webket-text-fill-color:transparent;
}

.familySite{
    padding-top: 10px;
}

.familySite a{
    padding: 3px 8px;
    border: 2px solid white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; 
}


#productDetail{
    float: left;
    width: 400px;
}

#mainTitle figure{
    float: right;
}

/* ----------------------------------------------------------------------------------------------------------
3) Layout
---------------------------------------------------------------------------------------------------------- */


figure{
    position: relative;
}

footer{
    text-align: center;
}

section{
    position: relative;
}

section .more{
    position: absolute;
    right: 5px;
    bottom: 0;

}

section .more, .company_email{
    text-decoration-line: underline;
}

figcaption{
    position: absolute;
    right: 0;
}

/* ----------------------------------------------------------------------------------------------------------
4-1) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

.company_info{
    width: 900px;
    margin: 0 auto;
}

.company_info_lst{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.company_info_lst span{
    padding-right: 5px;
}

.company_info_lst li{
    margin: 0 30px;
    display: inline-block;
}

.company_info_lst li:last-child{
    margin-right: 0;
}

.company_info_lst li span{
    vertical-align: middle;
}

.inner_cont{
    width: 900px;
    margin: 0 auto;
}
.section_wrap{
    float: left;
    width: 540px;
}

#mainTitle{
    width: 900px;
    margin: 0 auto;
}

#productDetail h2{
	background: -webkit-linear-gradient(top, yellow, #000);
	background: linear-gradient(top, #878787, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#productDetail div{
    float: left;
    margin: 10px;
}

#productDetail .button p:nth-child(1){
    font-size: 0.7em;
}

#productDetail .button p:last-child{
    font-size: 1.3em;
   }


#productDetail>p{
    line-height: 20px;
    color: yellow;
    margin-bottom: 20px;
}

#productDetail a p{
    display: inline-block;
    color: blue;
    padding: 0 10px 5px 10px;
}

/* ----------------------------------------------------------------------------------------------------------
5) Others
---------------------------------------------------------------------------------------------------------- */


.types_icon{
    background: url(../images/ico_map.gif);
    background-repeat: no-repeat;
}

.types_btn{
    background: url(../images/btn_map.gif);
    background-repeat: no-repeat;
}

.types_img{
    background: url(../images/img_map.png);
    background-repeat: no-repeat;
}

.types_mark{
    background: url(../imgaes/mark_map.png);
    background-repeat: no-repeat;
}

.btn_left{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: 0 -50px;
}

.btn_right{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: 0 -25px;
}

.icon_arrow{
    display: inline-block;
    background-position: -8px -200px;
    width:  5px;
    height: 9px;
    margin-left: 5px;
}

.none{
    display: none;
}

.img_rv{
    display: inline-block;
    width: 176px;
    height: 27px;
    background-position: -5px -160px;
}


.img_rc{
    display: inline-block;
    width: 120px;
    height: 17px;
    background-position: -5px -133px;
    vertical-align: middle;
}

.clearfix::after{
    display: block;
    content: '';
    clear: both;
}

.icon_call{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: -5px -39px;
}

.icon_email{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: -5px -73px;
}

.icon_cafe{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: -5px -5px;

}

#productDetail .button{
    display: inline-block;
    position: relative;
    text-decoration: none;
    width: 270px;
    height: 65px;
    padding-left: 10px;
    /* padding-top: 15px; */
    background-color : #DCE893;
    border: 1px solid #698848;
    border-radius: 5px;
    color: #167BBF;
    font-weight: bold;
}

#productDetail .icon_area::after{
    content: '';
    background: url("../images/right_arrow.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 26px;
    margin: 10px;
    /* padding: 8px; */
    display: inline-block;
}

.qr_code{
    display: inline-block;
    width: 70px;
    height: 70px;
    background : url(../images/qrcode.png);
    background-repeat: no-repeat;
}

.more{
    font-size: 0.8em;
}

