/*common.css*/
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}

hr {
    border-style: solid;
}

.x2_hr {
    color: black;
    background-color: black;
    height: 1px;
    margin-bottom: 2em;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.extension li {
    list-style-type: disc;
}

a {
    text-decoration-line: none;
}

#header .gnb {
    margin: 1em 0;
}

#content {
    margin-bottom: 2em;
    position: relative;
}

#content::after {
    clear: both;
    content: "";
    display: block;
}

#container::after {
    content: "";
    display: block;
    clear: both;
}

.extension_wrap {
    display: none;
}

.extension ul {
    padding-left: 40px;
}

.extension_wrap::after {
    clear: both;
    content: '';
    display: block;
}

#wrap {
    position: relative;
}

#container {
    position: relative;
}

#acontent {
    position: relative;
}

.footer_lst {
    margin: 1em 0;
}

.gnb_lst li,
.footer_lst li,
.layout_lst li {
    float: left;
}

.layout_lst a {
    color: #66F;
}

.layout_lst a:hover{
    font-weight: bold;
    letter-spacing : -1;
}

.gnb_lst::after,
.footer_lst::after,
.layout_lst::after {
    content: "";
    display: block;
    clear: both;
}

.bar {
    display: inline-block;
    width: 1px;
    height: 11px;
    margin-left: 4px;
    margin-right: 10px;
    background: #ccc;
}

#content h2 {
    border-bottom: 1px solid black;
}

.extension h2 {
    border-bottom: 1px solid black;
}


#container {
    margin-bottom: 30px;
}

.preview_img {
    float: left;
    margin: 0 1em 1em 0;
}

/* Layout Width */

.fixed {
    width: 960px;
    margin: 0 auto;
}

.liquid {
    width: 80%;
    margin: 0 auto;
}

.hybrid {
    width: 80%;
    margin: 0 auto;
}

/* ----- Fixed c Column Layout ----- */

.fixed .c .e1 section {
    float: left;
    width: 300px;
    margin-right: 30px;
}

/* oppose code minimalize in .e1 array */
.fixed .c .e1 section:last-child{
    margin-right: 0;
}


.fixed .c .e1 {
    display: block;
    /* margin-right: -30px; */
}

/* ----- Liquid c Column Layout ----- */

.liquid .c .e1 section {
    float: left;
    width: 30%;
    margin-right: 3.3%;
}

.liquid .c .e1 {
    display: block;
    margin-right: -3.4%;
}


/* ----- hybrid c Column Layout ----- */

.hybird .c .e1 {
    display: block;
    margin-right: -30px;
}


.hybird .c .e1 section {
    float: left;
    widows: 240px;
    margin-right: 30px;
}


/* ----- fixed ce Column Layout ----- */

.fixed .ce #content {
    float: left;
    width: 720px;
}

.fixed .ce .e1 {
    display: block;
    float: right;
    width: 220px;
}

/* ----- fixed ec Column Layout ----- 
*/

.fixed .ec #content {
    float: right;
    width: 720px;
}

.fixed .ec .e1 {
    display: block;
    float: left;
    width: 220px;
}

/* ----- liquid ce Column Layout ----- 
*/

.liquid .ce #content {
    float: left;
    width: 75%;
}

.liquid .ce .e1 {
    display: block;
    float: right;
    width: 23%;
}

/* ----- liquid ec Column Layout ----- 
*/

.liquid .ec #content {
    float: right;
    width: 75%;
}

.liquid .ec .e1 {
    display: block;
    float: left;
    width: 23%;
}

/* ----- hybrid ce Column Layout ----- 
*/

.hybrid .ce .content_wrap {
    /*    padding-right: 280px;*/
    margin-right: 280px;
    /*    마진병합 설명을 위해 고침*/
}

.hybrid .ce #content {
    position: relative;
    float: left;
    width: 100%;
}

.hybrid .ce .e1 {
    position: relative;
    display: block;
    float: right;
    width: 260px;
    right: -280px;
    margin-left: -260px;
}

/* ----- hybrid ec Column Layout ----- 
*/

.hybrid .ec .content_wrap {
    margin-left: 280px;
}

.hybrid .ec #content {
    float: right;
    width: 100%;
    position: relative;
}

.hybrid .ec .e1 {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    left: -280px;
    margin-right: -260px;
}


/* ----- fixed cee Column Layout ----- 
*/

.fixed .cee #content {
    float: left;
    width: 520px;
    margin-right: 20px;
}

.fixed .cee .e1 {
    display: block;
    float: left;
    width: 200px;
}

.fixed .cee .e2 {
    display: block;
    float: right;
    width: 200px;
}

/* ----- fixed ece Column Layout ----- 
*/

.fixed .ece #content {
    float: left;
    left: 220px;
    width: 520px;
    margin-right: -100%;
}

.fixed .ece .e1 {
    display: block;
    float: left;
    margin-right: 20px;
    width: 200px;
}

.fixed .ece .e2 {
    display: block;
    float: right;
    width: 200px;
}

/* ----- fixed cee Column Layout ----- 
*/

.fixed .eec #content {
    float: right;
    width: 520px;
    margin-left: 20px;
}

.fixed .eec .e1 {
    display: block;
    float: left;
    width: 200px;
}

.fixed .eec .e2 {
    display: block;
    float: right;
    width: 200px;
}

/* ----- liquid cee Column Layout ----- 
*/

.liquid .cee #content {
    float: left;
    width: 56%;
    margin-right: 2%;
}

.liquid .cee .e1 {
    display: block;
    float: right;
    width: 20%;
}

.liquid .cee .e2 {
    display: block;
    float: right;
    width: 20%;
}

/* ----- liquid ece Column Layout ----- 
*/

.liquid .ece #content {
    float: left;
    left: 22%;
    width: 56%;
    margin-right: -100%;
}

.liquid .ece .e1 {
    display: block;
    float: left;
    margin-right: 2%;
    width: 20%;
}

.liquid .ece .e2 {
    display: block;
    float: right;
    width: 20%;
}

/* ----- liquid eec Column Layout ----- 
*/

.liquid .eec #content {
    float: right;
    width: 56%;
    margin-left: 2%;
}

.liquid .eec .e1 {
    display: block;
    float: left;
    width: 20%;
}

.liquid .eec .e2 {
    display: block;
    float: left;
    width: 20%;
}

/* ----- hybrid cee Column Layout ----- 
*/

.hybrid .cee .content_wrap {
    margin-right: 480px;
}

.hybrid .cee #content {
    float: left;
    width: 100%;
    position: relative;
}

.hybrid .cee .e1 {
    position: relative;
    display: block;
    float: right;
    width: 220px;
    right: -240px;
    margin-left: -220px;
}

.hybrid .cee .e2 {
    position: relative;
    display: block;
    float: right;
    width: 220px;
    right: -480px;
    margin-left: -220px;
}

/* ----- hybrid ece Column Layout ----- 
*/

.hybrid .ece .content_wrap {
    margin: 0 240px;
}

.hybrid .ece #content {
    float: left;
    width: 100%;
    position: relative;
    margin-right: -100%;
}

.hybrid .ece .e1 {
    position: relative;
    display: block;
    float: left;
    width: 220px;
    right: 240px;
    margin-right: -220px;
}

.hybrid .ece .e2 {
    position: relative;
    display: block;
    float: right;
    width: 220px;
    right: -240px;
    margin-left: -220px;
}

/* ----- hybrid eec Column Layout ----- 
*/

.hybrid .eec .content_wrap {
    margin-left: 480px;
}

.hybrid .eec #content {
    float: right;
    width: 100%;
    position: relative;
}

.hybrid .eec .e1 {
    position: relative;
    display: block;
    float: left;
    width: 220px;
    left: -480px;
    margin-right: -220px;
}

.hybrid .eec .e2 {
    position: relative;
    display: block;
    float: left;
    width: 220px;
    left: -240px;
    margin-right: -220px;
}


#devColor{
    position: absolute;
    left: 0;
    top: 0;
    position: fixed;
}